<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger level="DEBUG" name="lerna.akka.entityreplication" />-->
     <logger level="INFO" name="example" />

    <!-- FIXME: Should be able to specify user-defined package or class to manage log -->
     <logger level="INFO" name="lerna.akka.entityreplication.typed.internal.behavior" />

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
